body {

    margin: 0;
    padding: 0px;
}

a{
    text-decoration: none;
    color: brown;

}
main {

    padding: 50px;
}
header{
    font-size: larger;
}

.hhover:hover{
    color: rgb(3, 80, 54);
}

h1 {
    color: rgb(29, 105, 19);
    font-family: "Gill Sans", sans-serif;
}

h2 {
    font-size: larger;
    font-family: "Gill Sans", sans-serif;
}


footer {
    box-shadow: 10px 5px 5px red;
    background-color: rgb(2, 103, 110);
    padding: 25px;
    top: 200px:
    bottom: 24px;

}

img {

    border-color: rgb(0, 26, 255);border-style: solid;
    height: 250px;
    border-radius: 15px;
}

nav{
    border-bottom:  solid rgb(222, 28, 28);
    padding: 16px;
    background-color: rgb(216, 130, 9);
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (2, auto);
}

tr:nth-child(even){
    background-color: bisque;
}
